{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fiche</h1>

    <table>
        <tbody>
            <tr>
                <th>Datefiche</th>
                <td>{% if fiche.datefiche %}{{ fiche.datefiche|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prestation</th>
                <td>{{ fiche.prestation }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ fiche.Client }}</td>
            </tr>
            <tr>
                <th>Emp</th>
                <td>{{ fiche.Emp }}</td>
            </tr>
            <tr>
                <th>Diagfiche</th>
                <td>{{ fiche.diagfiche }}</td>
            </tr>
            <tr>
                <th>Solutionfiche</th>
                <td>{{ fiche.solutionfiche }}</td>
            </tr>
            <tr>
                <th>Typereparation</th>
                <td>{{ fiche.typereparation }}</td>
            </tr>
            <tr>
                <th>Statutfiche</th>
                <td>{{ fiche.statutfiche }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ fiche.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fiche_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fiche_edit', { 'id': fiche.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
