{% extends 'base.html.twig' %}

{% block body %}
<div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="fa fa-id-card-o"></i></span>
            <h5>All Accounts</h5>
             <div style="padding-top: 0.2%"><a class="btn btn-info"  href="createCompteReceptionnist.html"><i class="fa fa-plus-circle"></i></a></div>
          </div>
          <div class="widget-content nopadding">
    <table class="table table-bordere data-table">
        <thead>
            <tr>
                 <th>C.I.N</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Social Status</th>
                  <th>Adress</th>
                  <th>Date of birth</th>
                  <th>Phone</th>
                  <th>Type</th>
                  <th>Salary</th>
                  <th>Manage</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>{{ employe.cinemp }}</a></td>
                <td>{{ employe.nomemp }}</td>
                <td>{{ employe.prenomemp }}</td>
                <td>{{ employe.statutsoc }}</td>
                <td>{{ employe.adresseemp }}</td>
                <td>{% if employe.datenaissemp %}{{ employe.datenaissemp|date('Y-m-d') }}{% endif %}</td>
                <td>{{ employe.telemp }}</td>
                <td>{{ employe.typeemp }}</td>
                <td>{{ employe.salaire }}</td>
                <td>{{ employe.statutemp }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employe_show', { 'id': employe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employe_edit', { 'id': employe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
          </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('employe_new') }}">Create a new employe</a>
        </li>
    </ul>
{% endblock %}
