{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rapports list</h1>

    <table>
        <thead>
            <tr>
                <th>Daterapport</th>
                <th>Totalrapport</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport in rapports %}
            <tr>
                <td><a href="{{ path('rapport_show', { 'id': rapport.id }) }}">{{ rapport.daterapport }}</a></td>
                <td>{{ rapport.totalrapport }}</td>
                <td>{{ rapport.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('rapport_show', { 'id': rapport.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('rapport_edit', { 'id': rapport.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rapport_new') }}">Create a new rapport</a>
        </li>
    </ul>
{% endblock %}
