{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fournisseur</h1>

    <table>
        <tbody>
            <tr>
                <th>Nomfourn</th>
                <td>{{ fournisseur.nomfourn }}</td>
            </tr>
            <tr>
                <th>Adressefourn</th>
                <td>{{ fournisseur.adressefourn }}</td>
            </tr>
            <tr>
                <th>Mailfourn</th>
                <td>{{ fournisseur.mailfourn }}</td>
            </tr>
            <tr>
                <th>Telfourn</th>
                <td>{{ fournisseur.telfourn }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
